@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?1tobfv');
  src:  url('../fonts/icomoon.eot?1tobfv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?1tobfv') format('truetype'),
    url('../fonts/icomoon.woff?1tobfv') format('woff'),
    url('../fonts/icomoon.svg?1tobfv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-locked:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e8f5";
}
.icon-note:before {
  content: "\e905";
}
.icon-picture:before {
  content: "\e90d";
}
.icon-ask:before {
  content: "\e91a";
}
.icon-book:before {
  content: "\e91f";
}
.icon-user:before {
  content: "\e971";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-face:before {
  content: "\e9e1";
}
.icon-play:before {
  content: "\ea1c";
}
.icon-right:before {
  content: "\ea3c";
}
.icon-dot:before {
  content: "\e900";
}
